@media (max-width: 479px){
    .option-button{
        width: 60%;
    }
}    
@media (min-width: 480px) {
    .option-button{
        width: 80%;
    }
}
.option-button{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #1b0448;
    border: #b0dc01 2px solid;
    color: #b0dc01; 
    font-size: 15px;
}
.butn:focus{
    background-color: #b0dc01; 
    color:#1b0448
}